# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Build
# ======================
dist/
build/

# ======================
# Logs
# ======================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Environment
# ======================
.env
.env.local
.env.*.local

# ======================
# WHATSAPP BOT (BAILEYS / WWEBJS)
# ======================
auth_info*/
auth_info_*/
session*/
sessions*/

.wwebjs_cache/
.wwebjs_auth/
.wwebjs_session/
.wwebjs_chrome/

# ======================
# OS
# ======================
.DS_Store

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Runtime
# ======================
*.pid
*.seed
*.pid.lock